{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "project": ["./tsconfig.json"],
        "ecmaFeatures": { "jsx": true }
    },
    "plugins": ["@typescript-eslint", "react"],
    "extends": [
        "react-app",
        "eslint:recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:react/recommended",
        "prettier"
    ],
    "rules": {
        // Possible Errors
        "no-console": "warn",
        "no-promise-executor-return": "warn",
        "no-template-curly-in-string": "warn",
        "no-unreachable-loop": "warn",
        "no-unsafe-optional-chaining": "warn",
        "no-useless-backreference": "warn",
        "require-atomic-updates": "warn",

        // Best Practices
        "array-callback-return": "warn",
        "block-scoped-var": "warn",
        "consistent-return": "warn",
        "curly": "warn",
        "default-case": "warn",
        "default-case-last": "warn",
        "dot-location": "warn",
        "eqeqeq": "warn",
        "max-classes-per-file": "warn",
        "no-alert": "warn",
        "no-constructor-return": "warn",
        "no-eq-null": "warn",
        "no-eval": "warn",
        "no-extend-native": "warn",
        "no-extra-bind": "warn",
        "no-extra-label": "warn",
        "no-floating-decimal": "warn",
        "no-implicit-coercion": "warn",
        "no-implicit-globals": "warn",
        "no-iterator": "warn",
        "no-labels": "warn",
        "no-lone-blocks": "warn",
        "no-multi-spaces": "warn",
        "no-multi-str": "warn",
        "no-new": "warn",
        "no-new-func": "warn",
        "no-new-wrappers": "warn",
        "no-nonoctal-decimal-escape": "warn",
        "no-octal-escape": "warn",
        "no-param-reassign": "warn",
        "no-proto": "warn",
        "no-return-assign": "warn",
        "no-script-url": "warn",
        "no-self-compare": "warn",
        "no-sequences": "warn",
        "no-unmodified-loop-condition": "warn",
        "no-useless-call": "warn",
        "no-useless-concat": "warn",
        "no-useless-return": "warn",
        "no-void": "warn",
        "no-warning-comments": "warn",
        "prefer-promise-reject-errors": "warn",
        "wrap-iife": "warn",
        "yoda": "warn",

        // Variables
        "no-label-var": "warn",

        // Stylistic Issues
        "array-bracket-spacing": "warn",
        "block-spacing": "warn",
        "camelcase": "warn",
        "comma-style": "warn",
        "computed-property-spacing": "warn",
        "func-style": "warn",
        "implicit-arrow-linebreak": "warn",
        "jsx-quotes": "warn",
        "key-spacing": "warn",
        "multiline-comment-style": "warn",
        "new-parens": "warn",
        "no-lonely-if": "warn",
        "no-mixed-operators": "warn",
        "no-multi-assign": "warn",
        "no-multiple-empty-lines": "warn",
        "no-negated-condition": "warn",
        "no-nested-ternary": "warn",
        "no-new-object": "warn",
        "no-trailing-spaces": "warn",
        "no-unneeded-ternary": "warn",
        "no-whitespace-before-property": "warn",
        "nonblock-statement-body-position": "warn",
        "prefer-object-spread": "warn",
        "quote-props": ["warn", "consistent-as-needed"],
        "semi-spacing": "warn",
        "semi-style": "warn",
        "space-before-blocks": "warn",
        "space-in-parens": "warn",
        "space-unary-ops": "warn",
        "switch-colon-spacing": "warn",

        // ECMAScript 6
        "arrow-body-style": ["warn", "always"],
        "arrow-parens": "warn",
        "arrow-spacing": "warn",
        "no-confusing-arrow": ["warn", { "allowParens": false }],
        "no-useless-rename": "warn",
        "no-var": "warn",
        "prefer-arrow-callback": "warn",
        "prefer-const": "warn",
        "prefer-rest-params": "warn",
        "prefer-spread": "warn",
        "prefer-template": "warn",
        "rest-spread-spacing": "warn",
        "template-curly-spacing": "warn",

        // TypeScript
        "@typescript-eslint/consistent-type-definitions": ["warn", "interface"],
        "@typescript-eslint/explicit-function-return-type": "warn",
        "@typescript-eslint/explicit-member-accessibility": "warn",
        "@typescript-eslint/member-delimiter-style": "warn",
        "@typescript-eslint/method-signature-style": "warn",
        "@typescript-eslint/naming-convention": [
            "warn",
            {
                "selector": ["variable"],
                "types": ["function"],
                "format": ["camelCase", "UPPER_CASE", "PascalCase"]
            }
        ],
        "@typescript-eslint/no-base-to-string": "warn",
        "@typescript-eslint/no-confusing-non-null-assertion": "warn",
        "@typescript-eslint/no-confusing-void-expression": "warn",
        "@typescript-eslint/no-dynamic-delete": "warn",
        "@typescript-eslint/no-extraneous-class": ["warn", { "allowStaticOnly": true }],
        "@typescript-eslint/no-implicit-any-catch": "warn",
        "@typescript-eslint/no-invalid-void-type": "warn",
        "@typescript-eslint/no-parameter-properties": "warn",
        "@typescript-eslint/no-require-imports": "warn",
        "@typescript-eslint/no-unnecessary-boolean-literal-compare": "warn",
        "@typescript-eslint/no-unnecessary-condition": "warn",
        "@typescript-eslint/no-unnecessary-type-constraint": "warn",
        "@typescript-eslint/prefer-for-of": "warn",
        "@typescript-eslint/prefer-includes": "warn",
        "@typescript-eslint/prefer-literal-enum-member": "warn",
        "@typescript-eslint/prefer-nullish-coalescing": "warn",
        "@typescript-eslint/prefer-optional-chain": "warn",
        "@typescript-eslint/prefer-string-starts-ends-with": "warn",
        "@typescript-eslint/prefer-ts-expect-error": "warn",
        "@typescript-eslint/promise-function-async": "warn",
        "@typescript-eslint/type-annotation-spacing": "warn",

        // TypeScript Extensions (overrides)
        "brace-style": "off",
        "@typescript-eslint/brace-style": "warn",
        "comma-spacing": "off",
        "@typescript-eslint/comma-spacing": "warn",
        "default-param-last": "off",
        "@typescript-eslint/default-param-last": "warn",
        "dot-notation": "off",
        "@typescript-eslint/dot-notation": "warn",
        "func-call-spacing": "off",
        "@typescript-eslint/func-call-spacing": "warn",
        "keyword-spacing": "off",
        "@typescript-eslint/keyword-spacing": "warn",
        "lines-between-class-members": "off",
        "@typescript-eslint/lines-between-class-members": [
            "warn",
            { "exceptAfterSingleLine": true }
        ],
        "no-dupe-class-members": "off",
        "@typescript-eslint/no-dupe-class-members": "warn",
        "no-duplicate-imports": "off",
        "@typescript-eslint/no-duplicate-imports": "warn",
        "no-invalid-this": "off",
        "@typescript-eslint/no-invalid-this": "warn",
        "no-loop-func": "off",
        "@typescript-eslint/no-loop-func": "warn",
        "no-loss-of-precision": "off",
        "@typescript-eslint/no-loss-of-precision": "warn",
        "no-redeclare": "off",
        "@typescript-eslint/no-redeclare": "warn",
        "no-shadow": "off",
        "@typescript-eslint/no-shadow": "warn",
        "no-throw-literal": "off",
        "@typescript-eslint/no-throw-literal": "warn",
        "no-unused-expressions": "off",
        "@typescript-eslint/no-unused-expressions": "warn",
        "no-useless-constructor": "off",
        "@typescript-eslint/no-useless-constructor": "warn",
        "object-curly-spacing": "off",
        "@typescript-eslint/object-curly-spacing": ["warn", "always"],
        "quotes": "off",
        "@typescript-eslint/quotes": [
            "warn",
            "double",
            { "avoidEscape": true, "allowTemplateLiterals": false }
        ],
        "no-return-await": "off",
        "@typescript-eslint/return-await": "warn",
        "semi": "off",
        "@typescript-eslint/semi": "warn",
        "space-before-function-paren": "off",
        "@typescript-eslint/space-before-function-paren": [
            "warn",
            {
                "anonymous": "never",
                "named": "never",
                "asyncArrow": "always"
            }
        ],
        "space-infix-ops": "off",
        "@typescript-eslint/space-infix-ops": ["warn", { "int32Hint": false }],
        "require-await": "off",
        "@typescript-eslint/require-await": "warn",

        // React
        "react/react-in-jsx-scope": "off"
    },
    "overrides": [
        {
            "files": ["**/*.test.ts", "**/*.test.tsx"],
            "env": {
                "jest": true
            },
            "plugins": ["jest", "jest-dom", "testing-library"],
            "extends": [
                "react-app/jest",
                "plugin:jest/all",
                "plugin:jest-dom/recommended",
                "plugin:testing-library/react"
            ],
            "rules": {
                // Jest
                "jest/lowercase-name": ["warn", { "ignore": ["describe"] }],
                "jest/prefer-expect-assertions": "off",
                "jest/no-hooks": "off"
            }
        }
    ]
}
