registry=https://jf.originai.co/artifactory/api/npm/npm/
strict-ssl="falseregistry=https://jf.originai.co/artifactory/api/npm/npm"
always-auth=true
//jf.originai.co/artifactory/api/npm/npm/:_auth="YXRheXo6QUtDcDhwUWJrcWN2TTlVWnlKZzlpczNQVFM5OGNTZDV4TjdKVk53SlB2b01MQ1pDeml2Z3JkeDF4SHRlOVBDa1RpUkxHUW9MMg=="
